html {
    width: 100vw;
    height: 100vh;
    font-size: 62.5%;
    font-weight: 100;
}

body {
    width: 100%;
    height: 100vh;
    font-family: "Open Sans", "Helvetica Neue", Arial;
    text-align: center;
}

h1 {
  font-weight: 600;
  font-size: 3rem;
}

h2 {
  font-weight: 500;
  font-size: 2.5rem;
}

h3 {
  font-weight: 400;
  font-size: 2rem;
}

h4 {
  font-weight: 300;
  font-size: 1.8rem;
}

p {
    font-size: 1.6rem;
    line-height: 2.5rem;
    margin: 0;
    padding: 0;
}

main {
    margin: 0 3%;
}

.container {
    width: 94vw;
    height: 94vw;
}
/* FLEXBOX PREFIX */
.flex {
    display:flex;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
}

.flex-d-col {
    flex-direction: column 
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -ms-flex-direction: column;
    flex-direction: column;
}

.justify-cont-btw {
   justify-content: space-between;
    -webkit-box-pack:justify;
    -ms-flex-pack:justify;
    justify-content:space-between; 
}

/* TRANSITION PREFIX */

.transition05 {
    -webkit-transition: all 0.5s ease;
    transition: all 0.5s ease;
}

/* -------  ABOUT.HTML ------- */

/* BACKGROUND */
header, .fixed-menu{
    width: 100%;
}

.container.large {
    background-image: url(../images/about_port_mob.png);
    background-color: #c5c2c2;
    background-size: cover;
    background-repeat: no-repeat;
    height: auto;
}

.opacity {
    background-color: rgba(255, 255, 255, 0.8);
    background-size: cover;
    padding: 3rem 0;
}

.opacity p {
    padding: 0 2rem;
}

@media screen and (min-width: 40.5em){
    .container.large {
        background-image: url(../images/about_desktop.jpg);
        background-size: cover;
        background-repeat: no-repeat;
        height: auto;
    }
    
    .opacity > article > p {
        padding-left: 10rem;
        padding-right: 10rem;
    }
}

/* TEAM BACKGROUND */

.bg-team-title {
    background-image: url(../images/ourteam-bg@0,5x.jpg);
    background-size: cover;
    background-position: center;
    width: 100%;
    height: 20rem;
    align-items: center;
    margin: 0 0 1rem 0;
}
    
.h2_a {
    color: white;
    padding: 8rem 0 0 0;
    margin: 1rem 0;
}

/* MEMBER PHOTOS */
.member-list {
    width: 94vw;
    height: auto;
    margin: 0;
}

.member {
    overflow: hidden;
    margin: 0 0 3% 0;
}

.figure_a {
    margin: 0;
    width: 100%;
    position: relative;
}

.img_member {
    position: relative;
    right: 11rem;
    bottom: 0;
}

.caption_a {
    width: 13rem;
    height: 100%;
    margin: 0;
    position: absolute;
    bottom: 0;
    right: 0;
    background-color: #f12241;
}

.caption_a > p {
    color: white;
    padding: 15rem 0 0 0.8rem;
    text-align: left;
    line-height: 2.3rem;
    font-size: 1.2rem;
}

.skills {
    display: none;
}

@media screen and (min-width: 36.25em){ /* 580px */
    .member-list {
        width: 100%;
        -webkit-box-orient: horizontal;
        -webkit-box-direction: normal;
        -ms-flex-direction: row;
        flex-direction: row;
        height: 40rem;
        justify-content: space-between;
    }
    
    .member {
        width: calc(100%/3);
        height: auto;
        display: flex;
        margin: 0 0.1rem;
    }
    
    .figure_a {
        width: 100%;
        height: auto;
        overflow: visible;
        position: relative;
    }

    .marginside {
        margin: 0 1rem;
    }
    
    .img_member {
        left: 0;
        width: 100%;
        height: auto;
        bottom: 0;
    }
    
    .caption_a{
        width: 100%;
        position: relative;
        left: 0;
        bottom: 2rem;
    }
    
     .caption_a > p {
        padding: 3rem 0 1rem 2rem;
    }
    
}

@media screen and (min-width: 44.5em){/* 712px */
   
    .caption_a{
        bottom: 3rem;
    }
    
     .caption_a > p {
        padding-top: 0.2rem;
    }
    
    
}

@media screen and (min-width: 59em){
     
   .transition05:hover {
        bottom: 18rem;
    }
    
    .skills {
        display: flex;
        font-size: 1.2rem;
    }
    
    .icon {
        color: #f12241;
        margin: 2rem 0 2rem 0.5rem;
        background-color: white;
        padding: 0.5rem 0.8rem;
        border-radius: 0.3rem;
    }
}