/* Tap target size recommmended by the Android UI guidelines - 48 CSS pixels  */

/* ==============================================
   DEFAULT STYLE
   ============================ */

html {
    width: 100vw;
    height: auto;
    margin: 0;
    padding: 0;
    /* Make font-size of other elements 
     * multiple of 10 instead of 16 (16px) 
    */
    font-size: 62.5%;
    /* define line-height: */
}

body {
    /* 100% of html's width */
    width: 100%;
    height: 100%;
    margin: 0;
    padding: 0;
    font-family: "Open Sans", "Helvetica Neue", Arial;
}
h1 {
    font-weight: 600;
    font-size: 3rem;
}

h2 {
    font-weight: 500;
    font-size: 2.5rem;
}

h3 {
    font-weight: 400;
    font-size: 2rem;
}

h4 {
    font-weight: 300;
    font-size: 1.8rem;
}

p {
    font-size: 1.6rem;
    margin: 0;
    padding: 0;
}

/* ==============================================
  HEADER SECTION
  ============================ */
/*header {
    position: relative;
    width: 100%;
    height: auto;
    padding: 0;
    margin: 0;
}*/
/*
.fixed_menu {
    position: relative;
    width: 100%;
    top: 0;
    left: 0;
    background-color: #fff; 
}*/

.page-title {
    display: block;
    width: 100%;
    height: 15vh;
    /*background-color: #f12241;*/
    margin: 0;
}

.heading-wrap {
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
    align-items:flex-end;
    width: 100%;
    height: 100%;
    margin: 0;
    padding: 0;
}

.heading-wrap h1 {
    display: block;
    width: 100%;
    height: 35%;
}

/* Heading wrapper media queries */

/* medium sized screens to xlarge */

@media screen and (min-width: 48em) {
    /*.fixed_menu {
        position: absolute;
        z-index: 1;
    }*/
    
    .page-title {
        position: relative;
        display: block;
        width: 100vw;
        height: 100vh;
        margin: 0;
        background-image: url(../images/stockholm-lg-screens.jpg);
        -webkit-background-size: cover;
        -moz-background-size: cover;
        -o-background-size: cover;
        background-size: cover;
    }
    
    .heading-wrap {
        display: inline-flex;
        flex-direction: row;
        justify-content: space-around;
        width: 100vw;
        height: 100%;
        margin: 0;
        padding: 0;
    }
    
    .heading-wrap h1 {
        text-align: center;align-self: center;
        margin: 0;
        font-size: 3rem;
    }
}

@media screen and (min-width: 120em) {
    .heading-wrap h1 {
        font-size: 4rem;
    }
}


/* ==============================================
   MAIN SECTION
   ============================ */
main {
    /* 96% of body's width 
     * minus 4% right and left margins together */
    width: 96%;
    height: auto;
    margin: 0 2% 0 2%;
    padding: 0;
}

/* xlarge screens - greater than 1920px*/

@media screen and (min-width: 120em) {
    main {
        display: flex;
        flex-direction: row;
        justify-content: space-around;
        margin: 2% auto 2% auto;
    }
}

/* CONTACT FORM
   ============================================================= */
.contact_box {
    flex-direction: column;
    justify-content: space-around;
    width: 100%;
    height: auto;
    /* needs to update to container elements' margin */
    margin: auto;
}

.contact_box h2 {
    width: 100%;
    margin: 2rem 0 2rem 0;
}
/* add 20% margin to the contact section in large screens */


#contact_form {
    flex-direction: column; 
    justify-content: space-around;
    width: 100%;
    height: auto;
    margin: 0;
}

.full-name {
    width: 100%;
}

.form-field1, .form-field2, .form-field3{
    width: 100%;
    font-size: 1.6rem;
}

.form-field-title {
    width: 100%;
    font-size: 1.6rem;
}
.form-field-input {
    /* inline-flex so last name input field
     * won't move under first name with screen resizing */
    display: inline-flex;
    width: 100%;
    margin-bottom: 1rem;
}

input {
    width: 100%;
    line-height: 4rem;
    border: 0.1rem solid lightgray;
}

.left {
    margin-right: 0.5rem;  
}

.left, .right {
    width: 48%; 
    padding-left: 0.5rem;
}

label {
    width: 100%;
    font-size: 1.6rem;
    margin: 1rem 0 0 0;
}

textarea {
    /* 100% of .contact_box section element */
    width: 100%;
    /* 30% of viewport's width */
    height: 25vw;
    margin: 0.5rem 0 1rem 0;
    padding: 0;
    border: 0.1rem solid lightgray;
}

.button-wrap {
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    align-content: center;
    width: 100%;
    margin: 2rem 0 2rem 0;
    padding: 0;
}
.ctc {
    position: relative;
    /* start - properties to be removed from this class */
    /*
    width: 10rem;
    height: 3rem;
    cursor: pointer;
    font-size: 1.5rem;
    */
    /* end */
    padding: 0;
    background-color: #f12241;
    border: none;
    color: #fff;
    font-weight: 100; 
}

.client-support {
    width: 100%;
    margin: 2rem 0 2rem 0;
    text-align: center;
    
}

.client-support p {
    font-style: italic;
}

.contact-support a {
    text-decoration: none;
    color: #f12241;
    /* no line break on whitespaces */
    white-space: nowrap;
}
.contact-support {
    color: #f12241; 
}

/* contact form section width set to 60% for medium sized screens */

@media screen and (min-width: 64em) and (max-width: 120em) {
    .contact_box {
        width: 60%;
        height: auto;
        margin: auto;
        padding: 0 20% 0 20%;
    }
    .client-support p {
        font-size: 2rem;
    }
}

/* contact_box section width set to 45% in xlarge screens */

@media screen and (min-width: 120em) {
    .contact_box {
        justify-content: flex-start;
        width: 45%;
        height: 40vw;
        margin: 5rem 0 0 0;
        padding: 0;
    }
     .contact_box h2 {
        width: 100%;
        margin: 0 0 2rem 0;
    }
    .client-support p {
        font-size: 2rem;
    }
}
/* Form  and textarea styling for medium to xlarge devices */

@media screen and (min-width: 48em) {
    .full-name {
        display: flex;
        flex-direction: row;
        justify-content: space-around;
    }
    
    .contact-email {
        display: flex;
        flex-direction: row;
        justify-content: space-around;
    }
    
    .contact-telephone {
        display: flex;
        flex-direction: row;
        justify-content: space-around;
    }
    
    .form-field1, .form-field2, .form-field3 {
        width: 35%;
    }
    
    .left {
        margin-right: 1rem;
    }
    
      textarea {
        height: 10vw;
    }
}


/* MAP SECTION
   ============================================================= */
.map {
    display: flex;
    flex-direction: column;
    justify-content: center;
    width: 100%;
    height: 96vw;
    margin: 0;
    padding: 0;
}
.location-map {
    background-image: url(../images/map-sm-sq.png);
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
    width: 100%;
    height: 96vw;
}
/* map for retina display 
 * reduced height so it would not collapse with footer
 */
@media (-webkit-min-device-pixel-ratio: 2), (min-resolution: 192dpi) { 
    .location-map {
        background-image: url(../images/map-sm-sq.png);
        -webkit-background-size: cover;
        -moz-background-size: cover;
        -o-background-size: cover;
        background-size: cover;
        width: 100%;
        height: 80vw;
 }
}
/* large screens - 1024px to 1904px */

@media screen and (min-width: 64em) and (max-width: 120em) {
    .map {
        width: 100%;
        height: 100vh;
        margin: 0;
        padding: 0;
    }
    .location-map {
        background-image: url(../images/map-m-rect@2x.png);
        -webkit-background-size: cover;
        -moz-background-size: cover;
        -o-background-size: cover;
        background-size: cover;
        width: 100%;
    }
}
/* xlarge screens - greater than 1920px*/

@media screen and (min-width: 120em) {
    .map {
        width: 45%;
        height: 40vw;
        margin: 5rem 0 0 0;
        padding: 0;
    }
    
    .map h2 {
        margin: 0 0 2rem 0;
    }
    
    .location-map {
        background-image: url(../images/map-lg-sq.png);
        -webkit-background-size: cover;
        -moz-background-size: cover;
        -o-background-size: cover;
        background-size: cover; 
    }
}