html {
    width: 100vw;
    height: auto;
    margin: 0;
    padding: 0;
    /* Make font-size of other elements 
     * multiple of 10 instead of 16 (16px) 
    */
    font-size: 62.5%;
    /* define line-height: */
}

body {
    /* 100% of html's width */
    width: 100%;
    height: 100%;
    margin: 0;
    padding: 0;
    font-family: "Open Sans", "Helvetica Neue", Arial;
}

/* ==============================================
   FOOTER
   ============================ */

footer {
    display: flex;
    flex-direction: column;
    justify-content: center;
    position: relative;
    /* 100% of the viewport's width */
    width: 100vw;
    height: auto;
    margin: 4% 0 0 0;
    /* top space between footer and main */
    padding: 2% 0 0 0;
    border-top: solid 0.1rem;
    border-color: lightgray;
}

 /* FOTTER HEADER
    ============================================================= */
.footer_header {
    /* need to set position here
     * so we can control the size of its children  
     */
    position: relative;
    width: 100%;
    height: auto;
    margin: auto;
}

.footer_header a{
    position: relative;
    width: 100%;
    height: 5vw;
    margin: 0;
}
.footer_header img {
    position: relative;
    width: 20%;
    height: auto;
    left: 40%;
}

/* FOTTER ADDRESS AND CONTACT
   ============================================================= */
.address_contact {
    margin: 6% auto 6% auto;
    text-align: center;
    color: grey;
}

/* FOOTER SOCIAL
   ============================================================= */

.social {
    position: relative;
    /* same width as body's width */
    width: 100%;
    /* 13% of VIEWPORT'S WIDTH */
    height: 13vh; 
    margin: 1rem 0 1rem 0;
       
}

.social-wrap {
    width: 100%;
    height: 100%;
    margin: 0;
    padding: 0;
}

.social ul {
    display: flex;
    flex-direction: row;
    justify-content: center;
    list-style-type: none;
    width: 100%;
    height: 100%;
    margin: 0;
    padding: 0;
}
.social li {
    /* so we can move the child's position */
    position: relative;
    /* 5 rem - 50px css for tap target size - min recommended
     * tap target size 44 -48px CSS
     */
    width: 5rem;
    height: 5rem;
    margin: 0.3rem;
    padding: 0;
}

.social a {
    /* relative to its parent's position */
    position: absolute;
    /* 5 rem - 50px css for tap target size */
    width: 5rem;
    height: 5rem;
    /* placed at the beginning of <nav> (parent element) */
    top: 0;
    margin: 0;
    padding: 0;

}
.social img{
    position:relative;
    /* 5 rem - 50px css for tap target size */
    width: 5rem;
    height: 100%;
}
    
/* media queries */

/* footer header */

@media screen and (min-width: 64em) {
    footer {
        display: flex;
        flex-direction: row;
        justify-content: space-around;
        align-items: center;
        width: 100%;
        height: 15vh;
        margin-bottom: 2%;
    }
    
    .footer_header {
        margin: 0 0 0 2%;
        height: 100%;  
    }
    
    .footer_header a {
        position: relative;
        display: flex;
        flex-direction: row;
    }
    .footer_header img {
        /* position property choice 
         * affects the width of the element 
         */
        position: absolute;
        width: 30%;
        height: auto;
        left: 0;
    }

/* FOTTER ADDRESS AND CONTACT
   ============================================================= */
    .address_contact {
        margin: 0;
        height: 100%;
        font-size: 1.6rem;
    }
    
/* FOOTER - SOCIAL
   ============================================================= */
    .social {
        display: flex;
        flex-direction: row;
        justify-content: space-around;
        width: 100%;
        height: 100%;
        margin: 0 2% 0 0;
    }
    
    .social-wrap {
        display: flex;
        flex-direction: row;
        justify-content: flex-end;
        width: 100%;
        height: 100%;
        margin: 0;
        padding: 0;
    }
    
    .social ul {
        position: relative;
        display: flex;
        flex-direction: row;
        justify-content: flex-end;
        list-style-type: none;
        width: 100%;
        height: 100%;
        margin: 0;
    }
    
    .social li {
        position: relative;
        width: 5rem;
        height: auto;
        margin: 0 0 0 1rem;
        right: 0;
    }
    
    .social a {
        /* position set to absolute
         * in order to set the width 
         *  height to 100% of its parent element
         */
        position: absolute;
        width: 100%;
        height: auto;
        right: 0;
        
    }
    
    .social img {
        position: relative;
        width: 100%;
        height: 100%;
        right: 0;
    }
}

