/* ------------------------------------------------------------------------------------------------------------------------------------------
  GENERAL SETTINGS

// Small devices (phones)
@media screen and (max-width: 767px) and (orientation: landscape)
@media screen and (max-width: 767px) and (orientation: portrait)

// Medium devices (tablets)
@media screen and (min-width: 768px) and (max-width: 1023px) { ... }


// Large devices (desktops)
@media screen and (min-width: 1024px) { ... }

--------------------------------------------------------------------------------------------------------------------------------------------- */
/* ------------------------------------------
  RESPONSIV LOGO
--------------------------------------------- */
.logo-l,
.logo-m,
.logo-s {
  margin: 1rem;
}


.logo-m, .logo-s {
  display: none;
}

@media only screen and (max-width: 768px) {
  .logo-l, .logo-s {
    display: none;
  }

  .logo-m {
    background: url(../images/logo-m.png);
    display: inline-block;
  }
}

@media screen and (max-width: 767px) and (orientation: portrait){
    .logo-l, .logo-m {
    display: none;
  }


  .logo-s {
    background: url(../images/logo-s.png);
    display: inline-block;
  }
}

/* ------------------------------------------
  CONTAINERS
--------------------------------------------- */
.container {
  width: 100%;
  text-align: center;
}

.container-element {
  width: 49%;
  height: 50vh;
  display: inline-block;
}

/* ------------------------------------------
  HEADERS
--------------------------------------------- */
.my-header-1 {
  font-family: "Open Sans";
  font-weight: 700; /*bold*/
  font-size: 3rem;
  text-align: center;
}

.my-header-2 {

}

.fixed-menu {
    display: flex;
    flex-direction: row;
}

/* ------------------------------------------
  USUAL TEXT
--------------------------------------------- */
body {
    font-family: "Open Sans";
}

h1 {
    font-weight: 600;
    font-size: 3em;
}

h2 {
    font-weight: 500;
    font-size: 2.5em;
}

h3 {
    font-weight: 400;
    font-size: 2em;
}

h4 {
    font-weight: 300;
    font-size: 1.5em;
}

.my-usual-text {
  font-family: "Open Sans";
  font-weight: 400;
  font-size: 2rem;
  text-align: center;
}

.my-mobile-text {
    font-weight: 300;
    font-size: 1.5rem;
    padding: 0.5rem 1.5rem;
    line-height: 2rem;
}
/* ------------------------------------------
  IMAGES
--------------------------------------------- */
.my-image {
  background-size: cover;
  min-height: 100vh;
  margin-left: 10px;
  margin-right: 10px;
  margin-top: 10px;
  position: relative;
}

/* ------------------------------------------
  BUTTONS
--------------------------------------------- */
.all-buttons {
  background-color: #f12241;
  border-radius: 20px;
  border: 1px solid #272727;
  text-align: center;
  margin: 0 auto;
  position: relative;
  left: 45%;
}

/* ------------------------------------------
  RESPONSIVE NAVIGATION MENU, FIXED HEADER
--------------------------------------------- */
.fixed-menu {
  background: #fff;
  border-bottom: 1px solid #000;
  height: 4.75rem;
  left: 0;
  position: fixed;
  top: 0;
  width: 100%;
  z-index: 100;
}

.nav-menu-links {
  float: right;
  padding: 0 1rem;
}

.nav-menu-icon {
  background: url(../images/hamburg-menu.png) center;
}

.nav-close-menu-icon {
  background: url(../images/close-hamburg-menu.png) center;
}

.nav-menu-icon,
.nav-close-menu-icon {
  background-repeat: no-repeat;
  display: hidden;
  height: 40px;
  width: 40px;
}

.nav-menu {
  list-style: none;
}

.nav-menu li {
  display: inline-block;
  float: left;
  padding: .9rem
}

.nav-menu a {
  color: #000;
  text-decoration: none;
}

.nav-menu a:hover {
  background-color: transparent;
  text-decoration: underline;
}

@media screen and (max-width: 767px) {

  .nav-menu-icon,
  .nav-close-menu-icon {
    display:inline-block;
    position: absolute;
    right: 0;
    top: 0;
    margin: 1rem;
  }

  .nav-close-menu-icon {
    visibility: hidden;
  }

  .nav-menu li {
    text-align: center;
    width: 100%;
    padding: 10px 0;
    margin: 0;
    text-align: right;
  }
  
  .nav-menu a {
    color: #fff;
  }

  .nav-menu-links {
    visibility: hidden;
    position: absolute;
    right: 0;
    top: 4.72rem;
    border: 1px solid #000;
    width: 40%;
    background-color: #272727;
    opacity: .8;
    height: 50vh;
  }
    
}

.show-menu {
  visibility: visible;
}

/* ------------------------------------------------------------------------------------------------------------------------------------------
  INDEX.HTML
--------------------------------------------------------------------------------------------------------------------------------------------- */
/* ------------------------------------------
  BACKGROUND IMAGE
--------------------------------------------- */
.first-background-image {
  background-image: url(../images/Desktop.png);
  background-size: cover;
  min-height: 100vh;
  position: relative;
}

.red-rectangle {
  min-height: 100vh;
  position: absolute;
  right: 0;
  width: 30%;
  background-color: #f12241;
}
  .red-rectangle {
    display: none;
  }
}

@media only screen and (max-width: 767px) and (orientation:portrait) {
  .first-background-image {
    background-image: url(../images/tabletPortrait.png);
    background-size: cover;
    min-height: 100vh;
  }

  .red-rectangle {
    display: none;
  }
}

@media only screen and (max-width: 767px) and (orientation:landscape) {
  .first-background-image {
    background-image: url(../images/mobileLandscape_v2.png);
    background-size: cover;
    min-height: 100vh;
  }

  .red-rectangle {
    display: none;
  }
}

/* ------------------------------------------
  CONCEPT
--------------------------------------------- */
.our-concept-image {
  background-image: url(../images/concept.jpg);
}

.our-concept-project-text {
  background-color: #615F5F;
  height: 60vh;
  width: 100%;
  position: absolute;
  top: 120px;
  opacity: 0.8;
}

/* ------------------------------------------
  PROJECTS
--------------------------------------------- */
.our-project-image {
  background-color: #c5c2c2;
}

/* ------------------------------------------
  CLIENTS
--------------------------------------------- */
.our-clients-image {
  background-color: #c5c2c2;
}

/* ------------------------------------------
  ABOUT US
--------------------------------------------- */
.our-about-us-image {
  background-color: #c5c2c2;
}

/* ------------------------------------------------------------------------------------------------------------------------------------------
  PROJECTS.HTML
--------------------------------------------------------------------------------------------------------------------------------------------- */
/* ------------------------------------------
  GENERAL SETTINGS FOR PROJECTS
--------------------------------------------- */
.all-projects-image {
  width: 100%;
}

/* ------------------------------------------
  BACKGROUND IMAGE
--------------------------------------------- */
.our-projects-image {
  background-color: #c5c2c2;
  background-size: cover;
  min-height: 100vh;
}

/* ------------------------------------------
  PROJECT 1
--------------------------------------------- */



/* ------------------------------------------
  PROJECT 2
--------------------------------------------- */



/* ------------------------------------------
  PROJECT 3
--------------------------------------------- */



/* ------------------------------------------
  PROJECT 4
--------------------------------------------- */





/* ------------------------------------------------------------------------------------------------------------------------------------------
  ABOUT.HTML
--------------------------------------------------------------------------------------------------------------------------------------------- */
/* ------------------------------------------
  
--------------------------------------------- */
.container.about_us {
        margin-top: 4rem;
        background-image: url(../images/about_desktop.jpg);
        background-size: cover;
        background-repeat: no-repeat;
        padding: 1rem;
    }
    
    .opacity {
        background-color: rgba(255, 255, 255, 0.8);
        margin: 3em;
        padding: 1em;
    }
.the_team {
    display: flex;
    flex-direction: row;

}

.yoko, .janaina, .svetlana {
position: relative;
top: 1rem;
overflow: hidden;
padding: 0;
}

.yoko:after, .janaina:after, .svetlana:after {
    content: "";
    position: absolute;
    top: -2.4rem;
    left: 9rem;
    z-index: 1;
    width: 0;
    height: 0;
    border: 9rem solid transparent;
    border-right: 8rem solid #f12241;
    border-bottom: 10rem solid #f12241;
}

.cap_member {
    position: absolute;
    top: 11rem;
    right: 1rem;
    color: white;
    height: 3rem;
    padding: 0;
    z-index: 5;
}

figure {
    padding: 0;
}

@media screen and (max-width: 767px){
    nav {
        visibility: hidden;
    }
    
    h2 {
        font-size: 2em;
    }
    
    h3 {
        font-size: 1.5em;
    }
    
    .the_team {
        flex-direction: column;
    }

    .accordion {
        transition: 0.4s;
    }
    
    .accordion.active, .accordion:hover {
        background-color: #c5c2c2;
        cursor: pointer;
    }
    
    .panel {
        padding: 0 0.7rem;
        background-color: rgb(255, 255, 255);
        display: none;
    }
    
    .panel.show {
        display: block;
    }
}

@media screen and (max-width: 767px) and (orientation: landscape){
    .container.about_us {
        background-image: url(../images/about_land_mob.png);
        background-size: cover;
        background-repeat: no-repeat;
    }
    
}

@media screen and (max-width: 767px) and (orientation: portrait){
    .container.about_us {
        background-color: #c5c2c2;
        background-size: cover;
        width: 100vw;
        height: 200%;
        background-repeat: no-repeat;
    }
    
}

@media screen and (max-width: 1023px) {
    .container.about_us {
        
    }
}


/* ------------------------------------------------------------------------------------------------------------------------------------------
  CONTACT.HTML
--------------------------------------------------------------------------------------------------------------------------------------------- */
/* ------------------------------------------
  
--------------------------------------------- */

