/* ------------------------------------------------------------------------------------------------------------------------------------------
  GENERAL SETTINGS
--------------------------------------------------------------------------------------------------------------------------------------------- */
/* ------------------------------------------
  RESPONSIV LOGO
--------------------------------------------- */
.logo-l,
.logo-m,
.logo-s {
  margin: 1rem;
}

.logo-m, .logo-s {
  display: none;
}

@media only screen and (max-width: 768px) {
  .logo-l, .logo-s {
    display: none;
  }

  .logo-m {
    background: url(../images/logo-m.png);
    display: inline-block;
  }
}

@media only screen and (max-width: 544px) {
  .logo-l, .logo-m {
    display: none;
  }

  .logo-s {
    background: url(../images/logo-s.png);
    display: inline-block;
  }
}

/* ------------------------------------------
  CONTAINERS
--------------------------------------------- */
.container {
  width: 100%;
  height: 100vh;
  position: relative;
  text-align: center;
}

.container-element {
  width: 49%;
  height: 50vh;
  display: inline-block;
}

/* ------------------------------------------
  HEADERS
--------------------------------------------- */
.my-header-1 {
  font-family: "Open Sans";
  font-weight: 700; /*bold*/
  font-size: 3rem;
  text-align: center;
}

.my-header-2 {

}

/* ------------------------------------------
  USUAL TEXT
--------------------------------------------- */
.my-usual-text {
  font-family: "Open Sans";
  font-weight: 400;
  font-size: 2rem;
  text-align: center;
}

/* ------------------------------------------
  IMAGES
--------------------------------------------- */
.my-image {
  background-size: cover;
  min-height: 100vh;
  margin-left: 10px;
  margin-right: 10px;
  margin-top: 10px;
  position: relative;
}

/* ------------------------------------------
  BUTTONS
--------------------------------------------- */
.all-buttons {
  background-color: #f12241;
  border-radius: 20px;
  border: 1px solid #272727;
  text-align: center;
  margin: 0 auto;
  position: relative;
  left: 45%;
}

/* ------------------------------------------
  RESPONSIVE NAVIGATION MENU, FIXED HEADER
--------------------------------------------- */
.fixed-menu {
  background: #fff;
  border-bottom: 1px solid #000;
  height: 4.75rem;
  left: 0;
  position: fixed;
  top: 0;
  width: 100%;
  z-index: 100;
}

.nav-menu-links {
  float: right;
  padding: 0 1rem;
}

.nav-menu-icon {
  background: url(../images/hamburg-menu.png) center;
}

.nav-close-menu-icon {
  background: url(../images/close-hamburg-menu.png) center;
}

.nav-menu-icon,
.nav-close-menu-icon {
  background-repeat: no-repeat;
  display: hidden;
  height: 40px;
  width: 40px;
}

.nav-menu {
  list-style: none;
}

.nav-menu li {
  display: inline-block;
  float: left;
  padding: .9rem
}

.nav-menu a {
  color: #000;
  text-decoration: none;
}

.nav-menu a:hover {
  background-color: transparent;
  text-decoration: underline;
}

@media only screen and (max-width : 768px) {
  .nav-menu-icon,
  .nav-close-menu-icon {
    display:inline-block;
    position: absolute;
    right: 0;
    top: 0;
    margin: 1rem;
  }

  .nav-close-menu-icon {
    visibility: hidden;
  }

  .nav-menu li {
    text-align: center;
    width: 100%;
    padding: 10px 0;
    margin: 0;
    text-align: right;
  }

  .nav-menu a {
    color: #fff;
  }

  .nav-menu-links {
    visibility: hidden;
    position: absolute;
    right: 0;
    top: 4.72rem;
    border: 1px solid #000;
    width: 40%;
    background-color: #272727;
    opacity: .8;
    height: 50vh;
  }
}

.show-menu {
  visibility: visible;
}

/* ------------------------------------------------------------------------------------------------------------------------------------------
  INDEX.HTML
--------------------------------------------------------------------------------------------------------------------------------------------- */
/* ------------------------------------------
  BACKGROUND IMAGE
--------------------------------------------- */
.first-background-image {
  background-image: url(../images/Desktop.png);
  background-size: cover;
  min-height: 100vh;
  position: relative;
}

.red-rectangle {
  min-height: 100vh;
  position: absolute;
  right: 0;
  width: 30%;
  background-color: #f12241;
}

@media only screen and (max-width: 768px) and (orientation:landscape) {
  .first-background-image {
    background-image: url(../images/Desktop.png);
    background-size: cover;
    min-height: 100vh;
  }

  .red-rectangle {
    display: none;
  }
}

@media only screen and (max-width: 768px) and (orientation:portrait) {
  .first-background-image {
    background-image: url(../images/tabletPortrait.png);
    background-size: cover;
    min-height: 100vh;
  }

  .red-rectangle {
    display: none;
  }
}

@media only screen and (max-width: 544px) and (orientation:landscape) {
  .first-background-image {
    background-image: url(../images/mobileLandscape_v2.png);
    background-size: cover;
    min-height: 100vh;
  }

  .red-rectangle {
    display: none;
  }
}

@media only screen and (max-width: 544px) and (orientation:portrait) {
  .first-background-image {
    background-image: url(../images/mobilePortrait_v2.png);
    background-size: cover;
    min-height: 100vh;
  }

  .red-rectangle {
    display: none;
  }
}

/* ------------------------------------------
  CONCEPT
--------------------------------------------- */
.our-concept-image {
  background-image: url(../images/concept.jpg);
}

.our-concept-project-text {
  background-color: #615F5F;
  height: 60vh;
  width: 100%;
  position: absolute;
  top: 120px;
  opacity: 0.8;
}

/* ------------------------------------------
  PROJECTS
--------------------------------------------- */
.our-project-image {
  background-color: #c5c2c2;
}

/* ------------------------------------------
  CLIENTS
--------------------------------------------- */
.our-clients-image {
  background-color: #c5c2c2;
}

/* ------------------------------------------
  ABOUT US
--------------------------------------------- */
.our-about-us-image {
  background-color: #c5c2c2;
}

/* ------------------------------------------------------------------------------------------------------------------------------------------
  PROJECTS.HTML
--------------------------------------------------------------------------------------------------------------------------------------------- */
/* ------------------------------------------
  GENERAL SETTINGS FOR PROJECTS
--------------------------------------------- */
.all-projects-image {
  width: 100%;
}

/* ------------------------------------------
  BACKGROUND IMAGE
--------------------------------------------- */
.our-projects-image {
  background-color: #c5c2c2;
  background-size: cover;
  min-height: 100vh;
}

/* ------------------------------------------
  PROJECT 1
--------------------------------------------- */



/* ------------------------------------------
  PROJECT 2
--------------------------------------------- */



/* ------------------------------------------
  PROJECT 3
--------------------------------------------- */



/* ------------------------------------------
  PROJECT 4
--------------------------------------------- */





/* ------------------------------------------------------------------------------------------------------------------------------------------
  ABOUT.HTML
--------------------------------------------------------------------------------------------------------------------------------------------- */
/* ------------------------------------------
  
--------------------------------------------- */










/* ------------------------------------------------------------------------------------------------------------------------------------------
  CONTACT.HTML
--------------------------------------------------------------------------------------------------------------------------------------------- */
/* ------------------------------------------
  
--------------------------------------------- */

